body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  img {
    max-width: 100%;
  }

  header {
    border-bottom: 10px solid #d98555;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  nav .logo img {
    max-width: 150px;
  }
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  .main-bkgd {
    background: #ffffff url("../media/gulp-bottom-beans.jpg") repeat-x bottom;
    padding-bottom: 300px;
    border-top: #ffffff solid 1px;
  }
  .main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article {
    flex-basis: 60%;
  }
  .picture {
    margin: 3rem 0 0 0;
    flex-basis: 38%;
    background-color: transparent;
  }
 img {
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    flex-basis: 100%;
  }

  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  
  @media (max-width:992px) {
    .logo {
        max-height: 100px;
      }
      .main {
        max-width: 780px;
        display: flex;
        flex-flow: row;
        text-align: center;
        justify-content: space-around;
        gap: 1rem;
      }
      img {
        text-align: center;
        display:inline-block;
        flex-basis: 100%;
        border-radius: 10px;
        max-width: 80%;
      }
      footer p {
        padding: 0;
        margin: 0;
      }
      footer a {
        padding: 0;
        margin: 0 1rem 0 0;
      }

  }
  
  @media (max-width:768px) {
    .logo {
      max-height: 100px;
    }
    nav ul {
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    nav li{
      font-style: none;
      font-size: medium;
      text-align: center;
      padding: 0.3rem;
      margin: 0;
    }
    .main {
      display: flex;
      flex-flow: column;
      text-align: center;
      padding: 0 2rem 0 2rem;
    }
    img {
      text-align: center;
      border-radius: 10px;
    }
    footer p {
      padding: 0;
      margin: 0;
    }
    footer a {
      padding: 0;
      margin: 0 1rem 0 0;
    }
   
  }
  